---
import { Image } from "astro:assets";

const bmc_text = "Buy me a coffee";
const bmc_button_color = "ff813fcc";
const bmc_font_color = "fff";
const bmc_font = "Comic";
const bmc_outline_color = "000";
const bmc_coffee_color = "D2B04C";

const bmc_img_link =
  "https://img.buymeacoffee.com/button-api/" +
  `?text=${bmc_text}` +
  `&emoji=&slug=r0hitm` +
  `&button_colour=${bmc_button_color}` +
  `&font_colour=${bmc_font_color}` +
  `&font_family=${bmc_font}` +
  `&outline_colour=${bmc_outline_color}` +
  `&coffee_colour=${bmc_coffee_color}`;
---

<!-- html -->
<div class="sponsors">
  <a class="gh-sponsor" href="https://github.com/sponsors/r0hitm">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="icon-tabler"
      stroke-linecap="round"
      stroke-linejoin="round"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"
      ></path>
    </svg>
    Sponsor
  </a>
  &nbsp;&nbsp;
  <a href="https://www.buymeacoffee.com/r0hitm">
    <Image
      class="bmc-img"
      src={bmc_img_link}
      alt="Buy Me a Coffee Button"
      loading="lazy"
      decoding="async"
      width="144"
      height="36"
    />
  </a>
</div>

<style>
  .sponsors {
    @apply mb-3 flex items-center justify-between;
  }
  .sponsors > * {
    @apply inline-block rounded-lg transition-all hover:scale-105;
  }
  .bmc-img {
    @apply aspect-auto h-9 rounded-lg;
  }
  .gh-sponsor {
    @apply flex h-8 w-32 items-center justify-evenly bg-skin-card px-2 text-sm font-semibold;
  }
  .gh-sponsor svg {
    @apply stroke-[#ec4899] sm:scale-90 !important;
  }
</style>
